<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CristoCordiaApp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
  <ion-list>
    <ion-item *ngFor="let item of list; index as i">

       <ion-thumbnail item-start>
        <img src="{{item['img']}}">
      </ion-thumbnail>
      <h2>{{item['title']}}</h2>
      <p>{{item['category']}}</p>
      <button ion-button clear item-end (click)="sendToSlidePage(item)">Ver</button> 
    </ion-item>
  </ion-list>


</ion-content>