<ion-header>
  <ion-navbar>
    <ion-title>
      CristoCordiaApp
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
<div class="centrado">

  <button ion-button round (click)="sendToList()">Bienvenido</button>
</div>
  
</ion-content>
