<!--
  Generated template for the SlidesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>slides</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides pager>

    <ion-slide *ngFor="let item of list; index as i">      
      <ion-card>
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small (click)="openDialog(item['advice'], 1)">
              <ion-icon name="alert"></ion-icon>
              <div>Reto</div>
            </button>
          </ion-col>
          <ion-col>
              <button ion-button icon-start clear small (click)="openDialog('Mateo 25, 31-46', 2)">
                <ion-icon name="bookmarks"></ion-icon>
                <div>Biblia</div>
              </button>
            </ion-col>
        </ion-row>
        <img src="{{item['img']}}" />
        <ion-card-content>
          <ion-card-title>
            {{item['title']}}
          </ion-card-title>
          <p>
            {{item['description']}}
          </p>
        </ion-card-content>

      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>